.hidden {
  transition: opacity 1s;
  opacity: 0;
}
#overlay {
  z-index: 0;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  transition: opacity 1s;
}
#modal {
  z-index: 1;
  max-width: 500px;
  max-height: 90%;
  overflow-y: auto;
  width: 100%;
  background: #061639;
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}